@import "tailwindcss";

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/merriweather/Merriweather-Regular.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/figtree/Figtree.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

:root {
  --font-sans: "Figtree", sans-serif;
  --font-serif: "Merriweather", serif;
  --yellow-emarketing: #ffaa17;
}
